body{
    font-family: 'Roboto', sans-serif;
    display: flex; 
    flex-direction: column;   
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
    
}
.hero{
    display: flex;
    background-color: #1f2937; 
    flex-direction: column;
    padding: 10px 200px 100px;
}
.top-hero{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.bottom-hero{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.li,
.subtext,
.placeholder,
.bottom-tail{
    font-size: 18px;
    color: #e5e7eb;
}
.image1{
    height: 200px;
    width: 800px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
.placeholder{
    display: flex;
    align-items: center;
    
    
}
.this-website{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    display: flex;
    justify-content: flex-start;   
}
.website{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    width: 100px;
    height: 30px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px 100px;
    
}
.top-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 100px 100px;
 
}
.title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.illustrations-and-subtext{
    display: flex;
    height: 200px;
    min-width: 150px;
    gap: 50px;     
}
.illustrations{
    height: 150px;
    min-width: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    border-width: 5px;
     
}
.bottom-info{
    display: flex;
    padding: 200px 20px 100px;
}
.i-subtext{
    text-align: center;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;

    
}
.inspiring-quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.author{
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}
.tail{
    display: flex;
    background-color: #3882f6;
    padding: 50px 100px;  
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 100px; 
}
.top-tail{
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}
.button button{
    border-color: #e5e7eb;
    border-width: 3px;
    
}
.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: #f9faf8;
    padding: 50px;
}

